.clientsec {
  margin: 0.75rem;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
}
.imgcard {
  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  margin-bottom: 0.45rem;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.btn {
  margin-top: 0.65rem;
  z-index: 1;
}

@media (max-width: 900px) {
  .clientsec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card {
    width: 20rem;
    height: 20rem;
  }
  .imgcard {
    width: 100%;
  }
}
