.main {
  box-shadow: 0 0 0.65rem rgb(36, 36, 36);
  padding: 0.45rem;
  height: 4.5rem;
  cursor: pointer;
  position: sticky;
  top: 0;
  backdrop-filter: blur(12px);
  color: black;
  font-weight: 500;
  display: flex;
  z-index: 2;
  justify-content: space-around;
  align-items: center;
}
.sec {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.drawer {
  display: none;
}

.hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hidden span {
  margin: 0.35rem;
}
@media (max-width: 850px) {
  .sec {
    display: none;
  }

  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .drawer {
    display: block;
  }
}
